.wrapper {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.wrapper > div:nth-child(2) {
    margin-top: 30px;
}

.table_name {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.search {
    margin: 10px auto;
    width: 500px;
    height: 30px;
    padding: 0 30px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(124, 122, 122);
    color: #fff;
}

.search::placeholder {
    position: absolute;
    left: 5px;
    top: 5px;
}