.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: 0 auto;
}

.reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back {
    cursor: pointer;
    align-self: start;
    margin: 20px 30px;
    font-size: 30px;
  }