.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.back {
    cursor: pointer;
    align-self: start;
    margin: 20px 30px;
    font-size: 30px;
  }
