.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.658);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: all 1s ease-in-out;
}

.popupActive{
    visibility: visible;
    opacity: 1;
}

.popup img{
    display: none;
    opacity: inherit;
    visibility: inherit;
    max-width: 80vw;
    max-height: 90vh;
}

.popupActive img {
    display: block;
}