.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 400px;
}

.filters {
  position: fixed;
  right: 0;
  top: 0;
}